<!doctype html>
<html ng-app='Angello'>
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.js"></script>
<script src="bower_components/sugar/release/sugar-full.development.js"></script>
<script type="text/javascript" src="javascripts/app.js"></script>
<script
	src="bower_components/jquery-ui/ui/minified/jquery-ui.custom.min.js"></script>

<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="app.css">

<title>Angello Lite</title>
</head>
<body>
	<div ng-controller="MainCtrl">
		<div class="span4 sidebar-content">
			<h2>Stories</h2>
			<ul class="list" sortable ng-repeat="status in statuses">
				<h3>{{status.name}}</h3>
				<li userstory class="story"
					ng-repeat="story in stories | filter:status.name"
					ng-click="setCurrentStory(story)">
					<button type="button" class="close"
						ng-click="deleteStory(story.id);">x</button>
					<h4>{{story.title}}</h4>
					<p>{{story.description}}</p>
				</li>
			</ul>
		</div>
		<br /> <a class="btn" ng-click="createStory()"><i
			class="icon-plus"></i> </a>


		<div class="span6 body-content">
			<h2>Story</h2>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" placeholder="Title"
							ng-model="currentStory.title">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputStatus">Status</label>
					<div class="controls">
						<select id="inputStatus" ng-model="currentStatus"
							ng-options="s.name for s in statuses"
							ng-change="setCurrentStatus(currentStatus)"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputType">Type</label>
					<div class="controls">
						<select id="inputType" ng-model="currentType"
							ng-options="t.name for t in types"
							ng-change="setCurrentType(currentType)"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputDescription">Description</label>
					<div class="controls">
						<textarea id="inputDescription" rows="3"
							ng-model="currentStory.description"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputAcceptance">Acceptance
						Criteria</label>
					<div class="controls">
						<textarea id="inputAcepptance" placeholder="Acceptance Criteria"
							rows="3" ng-model="currentStory.criteria"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputReporter">Acceptance
						Criteria</label>
					<div class="controls">
						<textarea id="inputReporter" placeholder="Reporter" rows="3"
							ng-model="currentStory.reporter"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputAssignee">Acceptance
						Criteria</label>
					<div class="controls">
						<textarea id="inputAssignee" placeholder="Assignee" rows="3"
							ng-model="currentStory.assignee"></textarea>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary"
						ng-click="save(currentStory)">Save</button>
					<button type="cancel" class="btn" ng-click="cancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>