<!DOCTYPE html>
<html ng-app='Angello'>
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js"></script>
<script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
<script src="bower_components/sugar/release/sugar-full.development.js"></script>
<script
	src="bower_components/jquery-ui/ui/minified/jquery-ui.custom.min.js"></script>
<script src="bower_components/flot/jquery.flot.js"></script>
<script src="bower_components/flot/jquery.flot.categories.js"></script>

<script type="text/javascript" src="scripts/app.js"></script>


<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="app.css">

<title>Angello Lite</title>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Angello</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
					</ul>
					<form class="navbar-form pull-right">
						<input class="span2" type="text" placeholder="Email"> <input
							class="span2" type="password" placeholder="Password">
						<button type="submit" class="btn">Sign in</button>
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>


	<div class="container">
		<h2>Stories</h2>
		<div ng-controller="MainCtrl">
			<div class="row">
				<div class="span8">
					<div class="row">
						<div class="span10">
							<ul class="span1 list" sortable ng-repeat="status in statuses">
								<h6>{{status.name}}</h6>
							</ul>
						</div>
						<div class="row">
							<ul class="span1 list my-repeat-animation" sortable
								ng-repeat="status in statuses">
								<li userstory class="story my-repeat-animation"
									ng-repeat="story in stories | filter:status.name"
									ng-click="setCurrentStory(story)">
									<button type="button" class="close"
										ng-click="deleteStory(story.id);">x</button>
									<h5>{{story.title}}</h5>
									<p>{{story.description}}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<br /> <a class="btn" ng-click="createStory()"><i
					class="icon-plus"></i> </a>




				<div class="details span2">
					<div class="details-nav">
						<div ng-if="!detailsVisible">
							<button class="btn pull-left" ng-click="setDetailsVisible(true)">
								<i class="icon-chevron-left"></i>
							</button>
						</div>
						<div ng-if="detailsVisible">
							<button class="btn pull-right"
								ng-click="setDetailsVisible(false)">
								<i class="icon-chevron-right"></i>
							</button>
						</div>
					</div>
					<div ng-if="detailsVisible" class="my-fade-animation">
						<h2>Story</h2>
						<form name="detailsForm" novalidate>
							<div class="">
								<label class="control-label" for="inputTitle">Title</label>
								<div class="controls">
									<input type="text" id="inputTitle" name="inputTitle"
										placeholder="Title" ng-model="currentStory.title"
										ng-required="true" ng-minlength="3" ng-maxlength="10">
									<div class="alert alert-error"
										ng-show="detailsForm.inputTitle.$dirty && detailsForm.inputTitle.$invalid">
										<small ng-if="detailsForm.inputTitle.$error.required">Required!</small>
										<small ng-if="detailsForm.inputTitle.$error.minlength">To
											short!</small> <small ng-if="detailsForm.inputTitle.$error.maxlength">To
											long!</small>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputStatus">Status</label>
									<div class="controls">
										<select id="inputStatus" ng-model="currentStatus"
											ng-options="s.name for s in statuses"
											ng-change="setCurrentStatus(currentStatus)"></select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputType">Type</label>
									<div class="controls">
										<select id="inputType" ng-model="currentType"
											ng-options="t.name for t in types"
											ng-change="setCurrentType(currentType)"></select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputDescription">Description</label>
									<div class="controls">
										<textarea id="inputDescription" rows="3"
											ng-model="currentStory.description"></textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputAcceptance">Acceptance
										Criteria</label>
									<div class="controls">
										<textarea id="inputAcepptance"
											placeholder="Acceptance Criteria" rows="3"
											ng-model="currentStory.criteria"></textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputReporter">Reporter</label>
									<div class="controls">
										<input type="text" id="inputReporter" name="inputReporter"
											placeholder="Reporter" ng-model="currentStory.reporter"
											ng-required="true" ng-minlength="3" ng-pattern="/^[A-z]+$/"
											class="ng-pristine ng-valid-minlength ng-valid-pattern ng-invalid ng-invalid-required"></input>
										<div class="alert alert-error"
											ng-show="detailsForm.inputReporter.$dirty && detailsForm.inputReporter.$invalid">
											<small ng-if="detailsForm.inputReporter.$error.required">Required!</small>
											<small ng-if="detailsForm.inputReporter.$error.minlength">To
												short!</small> <small
												ng-if="detailsForm.inputReporter.$error.pattern">Letters
												only please!</small>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputAssignee">Assignee</label>
									<div class="controls">
										<input type="text" id="inputAssignee" placeholder="Assignee"
											rows="3" ng-model="currentStory.assignee"></input>
									</div>
								</div>

								<div ng-if="currentStory">
									<button class="btn" ng-click="resetForm()">Cancel</button>
									<button class="btn btn-inverse pull-right"
										ng-disabled="!detailsForm.$valid" 
										ng-click="save(currentStory)">Update</button>
								</div>
								<div ng-if="!currentStory">
									<button class="btn btn-inverse pull-right"
										ng-disabled="detailsForm.$valid" ng-click="createStory()">New
										Story</button>
								</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<h3>User Stories by Status</h3>
					<div class="chart-container">
						<div chart class="chart-placeholder"
							style="width: 400px; height: 200px;" source-array="stories"
							source-prop="status" reference-array="statuses"
							reference-prop="name"></div>
					</div>
				</div>
				<div class="span6">
					<h3>User Stories by Types</h3>
					<div class="chart-container">
						<div chart class="chart-placeholder"
							style="width: 400px; height: 200px;" source-array="stories"
							source-prop="type" reference-array="types" reference-prop="name"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>